# Este notebook lo usaré para hacer el modelado del TFM

Referencias:
* https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c
* https://medium.com/@juan.7655/cleansing-messy-excel-files-with-pandas-95a2ba3d8b2d
* https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/
* https://datatofish.com/convert-pandas-dataframe-to-list/
* https://www.geeksforgeeks.org/python-pandas-dataframe-insert/
* https://thispointer.com/python-pandas-drop-columns-in-dataframe-by-label-names-or-by-index-positions/

In [1]:
import pandas as pd
import math
import timeit

#path = "U:\MASTER INT. ARTIFICIAL\TFM_DATA\CLEANDATA\\" #Path para mi laptop en casa
path = "F:\\DATA_TFM\\CLEANDATA\\" #Path para mi PC en el trabajo

archivo = "df_best_hits_limpio.csv"
file_hits = path+archivo

archivo = "data_aafit_bbfit_muon.csv"
file_aafit = path+archivo

## Analizando los datos (dataset).

<font size=3>Después de todo el trabajo de preprocesamiento y limpieza, tenemo que, estos están por el momento divididos en dos partes.

* Dataframe 1, el cual contiene los hits, mismo que proviene del archivo llamado df_best_hits_limpios.csv
* Dataframe 2, el cual contiene la data de aafit, bbfit y el muon por frameID (evento), mismo que proviene del archivo data_aafit_bbfit_muon.csv
</font>

In [2]:
#Veamos como es el archivo del dataset relativo a los hits
df_hits = pd.read_csv(file_hits)

#En cargar tarda "bastante" alrededor de 4 min en la PC del trabajo (Core i5, 32GB RAM, Disco SSD.)

In [3]:
#Obtenemos información del dataframe
df_hits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63520301 entries, 0 to 63520300
Data columns (total 17 columns):
Unnamed: 0         int64
runID              int64
frameID            int64
trigger_counter    int64
interactionID      int64
#hit               int64
lin_det            int64
piso_det           int64
mód_opt            int64
X'                 float64
Y'                 float64
Z'                 float64
azimut             float64
zenit              float64
tiempo             float64
amp                float64
frec_hits          float64
dtypes: float64(8), int64(9)
memory usage: 8.0 GB

In [23]:
#Mostramos las 10 primeras líneas para "ver" como son
df_hits.head(10)

,runID,frameID,trigger_counter,interactionID,#hit,lin_det,piso_det,mód_opt,X',Y',Z',azimut,zenit,tiempo,amp,frec_hits
0,25800,73557,0,2,76,4,19,0,45.532615,9.219245,90.040108,0.197620,2.356193,296.559100,1.089169,327.587128
1,25800,73557,0,2,77,4,19,0,45.532615,9.219245,90.040108,0.197620,2.356193,137.146191,0.879543,327.587128
2,25800,73557,0,2,78,4,19,1,44.584223,9.539780,90.040108,2.292014,2.356193,153.189412,0.772948,281.085968
3,25800,73557,0,2,67,4,20,0,45.484239,9.361442,104.567108,0.458220,2.356193,168.470446,1.070132,82.550049
4,25800,73557,0,2,68,4,20,0,45.484239,9.361442,104.567108,0.458220,2.356193,897.750991,0.985427,82.550049
5,25800,73557,0,2,69,4,20,1,44.485280,9.426792,104.567108,2.552615,2.356193,167.488297,4.492627,73.738098
6,25800,73557,0,2,70,4,20,2,44.928075,8.529054,104.567108,-1.636175,2.356193,171.860943,1.107187,89.874268
7,25800,73557,0,2,71,4,21,0,44.788333,9.655823,119.094108,1.882990,2.356193,201.236802,16.856011,60.100555
8,25800,73557,0,2,72,4,21,1,44.578323,8.677005,119.094108,-2.305800,2.356193,204.882482,3.327063,52.337646
9,25800,73557,0,2,73,4,21,2,45.530937,8.984459,119.094108,-0.211405,2.356193,1035.010812,0.580996,61.416626

In [20]:
#Es extraño pero tenemos una columnna unnamed la cual eliminaré, insisto es extraño puesto que en la extracción no se mostró.
#No sé si cuando se grabó a disco algo cambió.

df_hits = df_hits.drop([df_hits.columns[0]], axis='columns')

In [21]:
df_hits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63520301 entries, 0 to 63520300
Data columns (total 16 columns):
runID              int64
frameID            int64
trigger_counter    int64
interactionID      int64
#hit               int64
lin_det            int64
piso_det           int64
mód_opt            int64
X'                 float64
Y'                 float64
Z'                 float64
azimut             float64
zenit              float64
tiempo             float64
amp                float64
frec_hits          float64
dtypes: float64(8), int64(8)
memory usage: 7.6 GB

In [25]:
df_hits.sample(10)

,runID,frameID,trigger_counter,interactionID,#hit,lin_det,piso_det,mód_opt,X',Y',Z',azimut,zenit,tiempo,amp,frec_hits
62782667,85370,145642,1431,1,124,4,12,1,44.982226,8.960608,-11.664434,-1.541541,2.356193,-614.864546,1.385682,270.481110
60735988,84550,291378,710,2,184,9,19,1,-93.859173,9.057638,90.148566,0.693200,2.356193,-448.769866,0.864472,256.977081
28309445,57370,79452,1624,2,182,5,21,1,-57.848145,78.815537,119.021566,0.385280,2.356193,-297.879331,0.360747,77.075958
36779424,62100,53913,2666,2,136,9,11,0,-94.265366,8.111578,-25.970434,-1.504405,2.356193,1408.350233,1.098281,52.108765
60984252,84630,111210,1027,1,97,8,21,2,11.850980,-39.340843,119.886566,-0.692785,2.356193,116.103090,24.237271,51.174164
47095849,69370,29994,682,1,272,1,10,2,4.582201,96.176342,-49.279434,-1.169144,2.356193,734.745564,5.828434,66.833496
58749529,83750,10294,939,2,104,4,24,1,45.483717,9.282859,162.666566,-0.457871,2.356193,492.694216,0.861403,54.073334
34829646,61090,55830,4256,2,208,9,10,1,-93.784372,8.434716,-40.487434,-0.454290,2.356193,2831.700160,0.579883,52.909851
55220200,82120,284698,1459,1,142,8,13,0,11.635656,-39.502236,3.756566,-1.162735,2.356193,-707.211965,0.684769,40.054321
19233376,50030,28461,794,1,112,4,19,2,44.780179,8.990805,90.037566,-1.896775,2.356193,217.935494,0.871770,63.076019

In [5]:
#Contrastando con el dataframe obtenido para el punto 3.1 del email de Salva, abrimos el segundo dataframe
df_aafit = pd.read_csv(file_aafit)

In [6]:
#Obtenemos la info del segundo dataframe
df_aafit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1021092 entries, 0 to 1021091
Data columns (total 14 columns):
runID              1021092 non-null int64
frameID            1021092 non-null int64
trigger_counter    1021092 non-null int64
interactionID      1021092 non-null int64
aafit_azimut       1021092 non-null float64
aafit_zenit        1021092 non-null float64
aafit_lambda       1021092 non-null float64
aafit_beta         1021092 non-null float64
bbfit_azimut       1021092 non-null float64
bbfit_zenit        1021092 non-null float64
bbfit_quality      1021092 non-null float64
muon_azimut        1021092 non-null float64
muon_zenit         1021092 non-null float64
muon_energy        1021092 non-null float64
dtypes: float64(10), int64(4)
memory usage: 109.1 MB

In [30]:
#Mostramos las 10 primeras líneas del segundo dataframe
df_aafit[df_aafit['runID']==25800].shape

df_hits[df_hits['runID']==25800].shape

(479, 14)

In [15]:
temp = df_aafit['runID'].unique()

In [16]:
len(temp)

632

In [17]:
temp
#Esto lo que me dice es que falta generar la data completa de TODOS los archivos
#usando el notebook GENERA_DF_AAFIT_BBFIT-FINAL

array([25800, 25880, 25920, 25930, 25990, 26010, 26030, 26110, 26160,
       26190, 26230, 26270, 26340, 26470, 26480, 26540, 26640, 26660,
       26710, 26720, 26770, 26800, 26810, 26820, 26830, 26870, 26920,
       26940, 26970, 27080, 27090, 27100, 27130, 27170, 27180, 27230,
       27270, 27290, 27440, 27460, 27470, 27550, 27580, 27620, 27640,
       27660, 27720, 27750, 27760, 27830, 27890, 27900, 27980, 27990,
       28070, 28110, 28280, 28340, 28350, 28450, 28460, 28510, 28570,
       28620, 28630, 28650, 28720, 28730, 28770, 28780, 28790, 28850,
       28860, 28870, 28950, 28970, 28980, 28990, 29040, 29050, 29060,
       29100, 29110, 29120, 29160, 29180, 29190, 29220, 29250, 29270,
       29280, 29320, 29330, 29350, 29360, 29370, 29420, 29440, 29480,
       29490, 29500, 29540, 29580, 29600, 29740, 29760, 29790, 29810,
       29820, 29830, 29840, 29910, 29920, 29980, 30020, 30030, 30060,
       30070, 30080, 30090, 30100, 30110, 30120, 30140, 30150, 30160,
       30170, 30210, 30220, 30240, 30310, 30320, 30340, 30370, 30380,
       30390, 30410, 30430, 30440, 30450, 30460, 30880, 30950, 30970,
       31000, 31010, 31020, 31030, 31040, 31070, 31080, 31120, 31130,
       31160, 31170, 31230, 31280, 31360, 31680, 31690, 31700, 31920,
       31970, 32080, 32090, 32100, 32110, 32150, 32160, 32170, 32260,
       32290, 32340, 32350, 32360, 32400, 32430, 32450, 32460, 32470,
       32490, 32570, 32580, 32600, 32700, 32710, 32740, 32760, 32770,
       32830, 32850, 32880, 32900, 32970, 32990, 33010, 33060, 33110,
       33210, 33230, 33290, 33300, 33310, 33320, 33380, 33390, 33500,
       33530, 33570, 33590, 33600, 33610, 33630, 33660, 33700, 34350,
       34360, 34400, 34420, 34470, 34610, 34630, 34640, 34650, 34660,
       34670, 34740, 34890, 34930, 34960, 35000, 35180, 35190, 35330,
       35340, 35370, 35470, 35480, 35490, 35640, 35700, 35710, 35730,
       35740, 35750, 35790, 36000, 36070, 36110, 36160, 36210, 36220,
       36430, 36450, 36480, 36500, 36870, 36930, 36940, 36950, 37230,
       37280, 37300, 37320, 37340, 37630, 37770, 37780, 38110, 38170,
       38180, 38190, 38200, 38230, 38260, 38480, 38500, 38520, 38590,
       38600, 38610, 38620, 38700, 38720, 38750, 38760, 38770, 38780,
       38790, 38800, 38810, 38830, 38940, 38960, 38980, 39000, 39030,
       39180, 39220, 39250, 39260, 39360, 39400, 39590, 39640, 39700,
       40150, 40160, 40220, 40690, 40710, 40770, 40780, 40790, 40870,
       40910, 40920, 40930, 41270, 41350, 41370, 41390, 41410, 41430,
       41440, 41610, 41690, 41740, 41780, 41810, 41830, 41850, 41870,
       41940, 41950, 41980, 42020, 42050, 42090, 42190, 42320, 42420,
       42500, 42530, 42580, 42860, 42900, 42950, 42990, 43010, 43040,
       43050, 43140, 43180, 43210, 43240, 43250, 43350, 43390, 43450,
       43480, 43540, 43600, 43610, 43620, 43710, 43760, 43800, 43860,
       43890, 43930, 43940, 44010, 44020, 44030, 44040, 44060, 44070,
       45110, 45130, 45140, 45150, 45250, 45290, 45330, 45400, 45430,
       45660, 45670, 45700, 45710, 45730, 45750, 45780, 45790, 45960,
       46020, 46030, 46040, 46050, 46120, 46130, 46310, 46360, 46420,
       46430, 46460, 46480, 46500, 46510, 46660, 46670, 46700, 46710,
       46750, 46770, 46820, 46890, 46970, 47210, 47580, 47610, 47660,
       47670, 47730, 47790, 47830, 47840, 47870, 47900, 47990, 48070,
       48120, 48140, 48280, 48370, 48380, 48490, 48520, 48940, 48950,
       48970, 49240, 49290, 49310, 49350, 49360, 49420, 49450, 49500,
       49640, 49670, 49690, 49710, 49810, 49850, 49860, 49870, 49900,
       49980, 50030, 50080, 50230, 50330, 50400, 50440, 50610, 50650,
       50700, 50740, 50800, 50850, 50880, 50960, 51070, 51110, 51130,
       51140, 51160, 51230, 51260, 51290, 51460, 51480, 51550, 51580,
       51630, 51690, 51710, 51810, 51820, 51850, 51870, 52220, 52240,
       52250, 52260, 52330, 52340, 52430, 52460, 52530, 52550, 52570,
       52580, 52590, 52610, 52640, 52710, 52750, 52850, 52920, 52930,
       52950, 53000, 53050, 53060, 53070, 53220, 53230, 53240, 53270,
       53280, 53600, 53610, 53620, 53630, 53660, 53670, 53680, 53770,
       53820, 53830, 53860, 53900, 53910, 53930, 54100, 54110, 54140,
       54150, 54210, 54350, 54370, 54390, 54410, 54420, 54510, 54710,
       54720, 54730, 54740, 54760, 54820, 54940, 54950, 54980, 55010,
       55020, 55030, 55210, 55230, 55240, 55330, 55360, 55670, 55720,
       55760, 55810, 55870, 55890, 55900, 55920, 55950, 55990, 56010,
       56200, 56220, 56440, 56450, 56570, 56600, 56610, 56670, 56680,
       56690, 56760, 56800, 57060, 57110, 57130, 57240, 57250, 57260,
       57370, 57380, 57400, 57410, 57420, 57440, 57470, 57590, 57610,
       57650, 57660, 57690, 57700, 57710, 58080, 58090, 58110, 58130,
       58140, 58150, 58260, 58280, 58290, 58300, 58310, 58370, 58420,
       58430, 58440, 58510, 58540, 58550, 58560, 58570, 58590, 58620,
       58710, 58730], dtype=int64)